<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="landing">
    <div class="barraNavegacion">
      <div class="barraNavegacion_logo">
        <img src="../../../assets/images/logoNegro.png" alt="Logo" />
      </div>
      <div class="barraNavegacion_nombreAplicacion titulo">
        <h4>Expenses Tracker</h4>
      </div>
      <nav class="barraNavegacion_enlaces titulo">
        <ul>
          <li><a routerLink="/home">Tecnologías</a></li>
          <li><a routerLink="/login">Objetivo</a></li>
          <li><a routerLink="/register">Contacto</a></li>
        </ul>
      </nav>
      <div class="barraNavegacion_botonRegistro titulo">
        <button>Regístrate</button>
      </div>
    </div>
    <div class="introduccion">
      <div class="introduccion_texto">
        <div class="introduccion_titulo">
          <h1 class="titulo">Controla tus Finanzas con Expenses Tracker</h1>
        </div>
        <div class="introduccion_descripcion texto">
          <h4>
            Gastar dinero es fácil, pero mantener un registro claro y preciso de
            tus gastos puede ser complicado. Con Expenses Tracker, simplificamos
            la gestión de tus finanzas para que puedas tomar el control total de
            tus gastos de una manera fácil y efectiva.
          </h4>
        </div>
        <div class="introduccion_botonRegistro titulo">
          <button>Regístrate</button>
        </div>
      </div>
      <div class="introduccion_imagen">
        <img src="../../../assets/images/intro-image.svg" alt="" />
      </div>
    </div>
    <div class="tecnologiasSlider">
      <div class="tecnologiasSlider_slider-track">
        <div class="tecnologiasSlider_slide">
          <img src="../../../assets/images/angular-logo.png" alt="" />
        </div>
        <div class="tecnologiasSlider_slide">
          <img src="../../../assets/images/npm-logo.svg" alt="" />
        </div>
        <div class="tecnologiasSlider_slide">
          <img src="../../../assets/images/node-logo.svg" alt="" />
        </div>
        <div class="tecnologiasSlider_slide">
          <img src="../../../assets/images/js-logo.png" alt="" />
        </div>
        <div class="tecnologiasSlider_slide">
          <img src="../../../assets/images/LogoTailwind-logo.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</body>
