<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="landing">
    <div class="barraNavegacion">
      <div class="barraNavegacion_logo">
        <img src="../../../assets/images/logoNegro.png" alt="Logo" />
      </div>
      <div class="barraNavegacion_nombreAplicacion titulo">
        <h4>Expenses Tracker</h4>
      </div>
      <nav class="barraNavegacion_enlaces texto">
        <ul>
          <li><a routerLink="/home">Tecnologías</a></li>
          <li><a routerLink="/login">Objetivo</a></li>
          <li><a routerLink="/register">Contacto</a></li>
        </ul>
      </nav>
      <div class="barraNavegacion_botonRegistro texto">
        <button>Regístrate</button>
      </div>
    </div>
    <div class="introduccion">
      <div class="introduccion_texto">
        <div class="introduccion_titulo">
          <h1 class="titulo">Controla tus Finanzas con Expenses Tracker</h1>
        </div>
        <div class="introduccion_descripcion texto">
          <h4>
            Gastar dinero es fácil, pero mantener un registro claro y preciso de
            tus gastos puede ser complicado. Con Expenses Tracker, simplificamos
            la gestión de tus finanzas para que puedas tomar el control total de
            tus gastos de una manera fácil y efectiva.
          </h4>
        </div>
        <div class="introduccion_botonRegistro texto">
          <button>Regístrate</button>
        </div>
      </div>
      <div class="introduccion_imagen">
        <img src="../../../assets/images/intro-image.svg" alt="" />
      </div>
    </div>
    <div class="tecnologias">
      <div class="tecnologias_titulo">
        <h2 class="titulo">Tecnologías</h2>
      </div>
      <div class="tecnologias_subtitulo">
        <h4 class="texto">
          Las tecnologías que hemos utilizado en esta aplicación han sido:
        </h4>
      </div>
      <div class="tecnologiasSlider">
        <div class="tecnologiasSlider_slider-track">
          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/angular-logo.png" alt="" />
          </div>
          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/npm-logo.png" alt="" />
          </div>
          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/node-logo.svg" alt="" />
          </div>
          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/js-logo.png" alt="" />
          </div>
          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/LogoTailwind-logo.svg" alt="" />
          </div>

          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/angular-logo.png" alt="" />
          </div>
          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/npm-logo.png" alt="" />
          </div>
          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/node-logo.svg" alt="" />
          </div>
          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/js-logo.png" alt="" />
          </div>
          <div class="tecnologiasSlider_slide">
            <img src="../../../assets/images/LogoTailwind-logo.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="viaje">
      <div class="viaje_titulo">
        <h1 class="titulo">
          Comienza tu Viaje hacia una Mejor Gestión Financiera
        </h1>
      </div>
      <div class="viaje_subtitulo">
        <h4 class="texto">¿A quién va dirigido Expenses Tracker?</h4>
      </div>
      <div class="viaje_objetivos">
        <div class="objetivo1">
          <div class="objetivo1_icono">
            <img src="../../../assets/images/icono-personas.png" alt="" />
          </div>
          <div class="objetivo1_titulo">
            <h4 class="titulo">Individuos con presupuestos ajustados</h4>
          </div>
          <div class="objetivo1_texto">
            Para aquellos que desean administrar cuidadosamente sus finanzas
            personales y mantenerse dentro de un presupuesto específico,
            Expenses Tracker ofrece herramientas para realizar un seguimiento
            detallado de los gastos y ayudar a identificar áreas de gasto
            excesivo.
          </div>
        </div>
        <div class="objetivo2">
          <div class="objetivo2_icono">
            <img src="../../../assets/images/icono-empresa.png" alt="" />
          </div>
          <div class="objetivo2_titulo">
            <h4 class="titulo">Emprendedores y autónomos</h4>
          </div>
          <div class="objetivo2_texto">
            Para aquellos que trabajan por cuenta propia o tienen ingresos
            variables, Expenses Tracker brinda herramientas para rastrear
            ingresos y gastos comerciales, facilitando la gestión financiera de
            sus empresas.
          </div>
        </div>
        <div class="objetivo3">
          <div class="objetivo3_icono">
            <img src="../../../assets/images/icono-hogar.png" alt="" />
          </div>
          <div class="objetivo3_titulo">
            <h4 class="titulo">Familias y hogares</h4>
          </div>
          <div class="objetivo3_texto">
            Para hogares con múltiples fuentes de ingresos y gastos compartidos,
            Expenses Tracker ofrece funciones para colaborar en la gestión
            financiera familiar, permitiendo una visión clara y compartida de
            las finanzas del hogar.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
