<div class="w-full relative flex flex-col min-h-screen">
<app-sidebar class="h-full"></app-sidebar>
<div class="w-full bg-blue-500 h-16">
    <nav
      class="absolute top-0 left-0 w-full z-10 lg:flex-row lg:flex-nowrap lg:justify-start flex items-center py-1 px-4 lg:bg-transparent"
    >
      <div class="w-full mx-auto flex justify-between lg:justify-end lg:flex-nowrap flex-wrap lg:px-6 px-4">
        <div class="lg:flex lg:w-auto flex-grow items-center">
            <!-- Ajustamos el margen izquierdo del enlace HOME -->
            <a
              href="javascript:;"
              class="text-blueGray-800 lg:text-white text-sm uppercase inline-block font-semibold my-3 ml-64"
              >Perfil</a
            >
          </div>
        <div class="items-center flex lg:ml-4">
          <a class="text-blueGray-500 block" href="javascript:;">
            <div class="items-center flex">
              <span
                class="w-12 h-12 text-sm text-white bg-blueGray-300 inline-flex items-center justify-center rounded-full"
              >
                <!-- <img
                  alt="..."
                  class="w-full rounded-full align-middle border-none shadow-lg"
                  src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1-800x800.fa5a7ac2.jpg"
                /> -->
                <app-imagen-perfil></app-imagen-perfil>
              </span>
            </div>
          </a>
        </div>
      </div>
    </nav>
  </div>
<div *ngIf="usuario" class="flex justify-center items-center w-full h-screen">    
    <div class="bg-white w-full flex flex-col gap-5 px-3 md:px-16 lg:px-28 md:flex-row justify-center">
        <div class="w-full sm:max-w-xl sm:rounded-lg">
            <h2 class="pl-6 text-2xl font-bold sm:text-xl">Perfil</h2>
            <div class="grid max-w-2xl mx-auto mt-8">
                <div class="flex flex-col items-center space-y-5 sm:flex-row sm:space-y-0">
                    <img class="object-cover w-40 h-40 p-1 rounded-full ring-2 ring-blue-500 dark:ring-blue-500" 
                    [src]="imagenPerfil ? imagenPerfil : '../../assets/images/imagenPerfilDefault.png'"
                    alt="Imagen de perfil">
                    <div class="flex flex-col space-y-5 sm:ml-8">
                        <input type="file" accept="image/*" (change)="seleccionarImagen($event)" style="display: none" #fileInput>
                        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 500-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" (click)="fileInput.click()">Cambiar imagen</button>
                    </div>
                </div>
                <div class="items-center mt-8 sm:mt-14">
                    <div class="flex flex-col items-center w-full mb-2 space-x-0 space-y-2 sm:flex-row sm:space-x-4 sm:space-y-0 sm:mb-6">
                        <div class="w-1/2">
                            <label for="nombre" class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">Nombre</label>
                            <input type="text" id="nombre" class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 " placeholder="Nombre" required [(ngModel)]="usuario.Nombre">
                        </div>
                    </div>
                    <div class="w-1/2 pb-6">
                        <label for="objetivo" class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">Objetivo</label>
                        <input type="number" id="objetivo" class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 " placeholder="Objetivo" required [(ngModel)]="usuario.Objetivo_Gasto">
                    </div>
                    <div class="mb-2 sm:mb-6">
                        <label for="email" class="block mb-2 text-sm font-medium text-indigo-900 dark:text-white">Email</label>
                        <input type="email" id="email" class="bg-indigo-50 border border-indigo-300 text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 " placeholder="tu.email@mail.com" required [(ngModel)]="usuario.Correo">
                    </div>
                    <div class="flex justify-end">
                        <button type="button" (click)="actualizarPerfil()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 500-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>