<div class="w-full relative flex flex-col min-h-screen">
  <app-sidebar class="h-full"></app-sidebar>
  <div class="relative md:ml-64 flex-grow">
    <div class="w-full bg-blue-500 h-16">
      <nav
        class="absolute top-0 left-0 w-full z-10 lg:flex-row lg:flex-nowrap lg:justify-start flex items-center py-1 px-4 lg:bg-transparent"
      >
        <div class="w-full mx-auto flex justify-between lg:justify-end lg:flex-nowrap flex-wrap lg:px-6 px-4">
          <div class="lg:flex lg:w-auto flex-grow items-center">
            <a
              href="javascript:;"
              class="text-blueGray-800 lg:text-white text-sm uppercase inline-block font-semibold my-3"
              >HOME</a
            >
          </div>
          <div class="items-center flex lg:ml-4">
            <a class="text-blueGray-500 block" href="javascript:;">
              <div class="items-center flex">
                <span
                  class="w-12 h-12 text-sm text-white bg-blueGray-300 inline-flex items-center justify-center rounded-full"
                >
                  <img
                    alt="..."
                    class="w-full rounded-full align-middle border-none shadow-lg"
                    src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1-800x800.fa5a7ac2.jpg"
                  />
                </span>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="pt-16 pb-32">
      <div class="px-5 md:px-6 mx-5 w-full">
        <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
          Añadir Gasto
        </button>
      </div>
    </div>
    <div class="px-4 md:px-6 mx-auto w-full -mt-24">
      <div class="px-4 md:px-6 mx-auto w-full -mt-24">
        <div class="w-full">
          <input 
            type="text" 
            placeholder="Buscar gastos..." 
            (input)="onSearch($event)" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 mb-4"
          />
          <app-tabla-gastos [searchQuery]="searchQuery" class="w-full"></app-tabla-gastos>
        </div>
      </div>
      <footer class="block py-4">
        <div class="container mx-auto px-4">
          <hr class="mb-4 border-b-1 border-blueGray-200" />
          <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4">
              <div class="text-center mb-2 md:text-left md:mb-0">
                <a href="https://www.creative-tim.com/?ref=npr-footeradmin" target="_blank" class="text-sm text-blueGray-500 font-semibold py-1 text-center md:text-left">Copyright © 2024 Jorge y Juan</a>
              </div>
            </div>
            <div class="w-full md:w-8/12 px-4">
              <ul class="flex flex-wrap list-none md:justify-end justify-center">
                <li>
                  <a href="https://www.creative-tim.com?ref=npr-footeradmin" target="_blank" class="text-blueGray-700 hover:text-blueGray-900 text-sm font-semibold block py-1 px-3">Expenses Tracker</a>
                </li>
                <li>
                  <a href="https://www.creative-tim.com/presentation?ref=npr-footeradmin" target="_blank" class="text-blueGray-700 hover:text-blueGray-900 text-sm font-semibold block py-1 px-3">Sobre nosotros</a>
                </li>
                <li>
                  <a href="https://www.creative-tim.com/blog/?ref=npr-footeradmin" target="_blank" class="text-blueGray-700 hover:text-blueGray-900 text-sm font-semibold block py-1 px-3">Blog</a>
                </li>
                <li>
                  <a href="https://www.creative-tim.com/license?ref=npr-footeradmin" target="_blank" class="text-blueGray-700 hover:text-blueGray-900 text-sm font-semibold block py-1 px-3">Licencia</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<!-- Modal de añadir gasto -->
<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Añadir Gasto
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <form [formGroup]="gastoForm" (ngSubmit)="onSubmit()" class="p-4 md:p-5">
              <div class="grid gap-4 mb-4 grid-cols-2">
                  <div class="col-span-2">
                      <label for="Descripcion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
                      <input type="text" id="Descripcion" formControlName="Descripcion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Escribe el nombre del gasto" required>
                  </div>
                  <div class="col-span-2 sm:col-span-1">
                      <label for="Cantidad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio</label>
                      <input type="number" id="Cantidad" formControlName="Cantidad" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="2999€" required>
                  </div>
                  <div class="col-span-2 sm:col-span-1">
                    <label for="ID_Categoria" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoría</label>
                    <select id="ID_Categoria" formControlName="ID_Categoria" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="" selected>Selecciona Categoría</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.ID_Categoria">{{ categoria.Nombre }}</option>
                    </select>
                  </div>
                  
                  <div class="col-span-2">
                      <label for="Fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha</label>
                      <input type="date" id="Fecha" formControlName="Fecha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                  </div>
              </div>
              <button type="submit" data-modal-hide="crud-modal" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                  Añadir Gasto
              </button>
          </form>
      </div>
  </div>
</div>
