<div
  class="w-full relative flex ct-docs-disable-sidebar-content overflow-x-hidden"
>
  <app-sidebar></app-sidebar>
  <div class="relative md:ml-64 bg-blueGray-100 w-full">
    <nav
      class="absolute top-0 left-0 w-full z-10 bg-white lg:flex-row lg:flex-nowrap lg:justify-start flex items-center py-1 px-4 lg:bg-transparent"
    >
      <div
        class="w-full mx-auto flex justify-between lg:justify-end lg:flex-nowrap flex-wrap lg:px-6 px-4"
      >
        <div class="lg:flex lg:w-auto flex-grow items-center">
          <a
            href="javascript:;"
            class="text-blueGray-800 lg:text-white text-sm uppercase inline-block font-semibold my-3"
            >HOME</a
          >
        </div>
        <div class="items-center flex lg:ml-4">
          <a class="text-blueGray-500 block" href="javascript:;">
            <div class="items-center flex">
              <span
                class="w-12 h-12 text-sm text-white bg-blueGray-300 inline-flex items-center justify-center rounded-full"
              >
                <img
                  alt="..."
                  class="w-full rounded-full align-middle border-none shadow-lg"
                  src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1-800x800.fa5a7ac2.jpg"
                />
              </span>
            </div>
          </a>
        </div>
      </div>
    </nav>
    <div class="relative pt-32 pb-32 bg-blue-500">
      <div class="px-4 md:px-6 mx-auto w-full">
        <div>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white rounded-lg mb-6 xl:mb-0 shadow-lg"
              >
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div
                      class="relative w-full pr-4 max-w-full flex-grow flex-1"
                    >
                      <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                        Gasto Actual
                      </h5>
                      <span class="font-bold text-xl"
                        >{{ gastoTotalMes }}€</span
                      >
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-red-500"
                      >
                        <i class="fa-solid fa-chart-column"></i>
                      </div>
                    </div>
                  </div>
                  <p class="text-sm text-blueGray-500 mt-4">
                    <span
                      class="text-{{
                        porcentajeGastoExtra >= 0 ? 'red' : 'emerald'
                      }}-500 mr-2"
                      ><i
                        class="fas fa-arrow-{{
                          porcentajeGastoExtra >= 0 ? 'up' : 'down'
                        }}"
                      ></i>
                      {{
                        porcentajeGastoExtra >= 0
                          ? porcentajeGastoExtra
                          : -porcentajeGastoExtra
                      }}%</span
                    ><span class="whitespace-nowrap"
                      >{{ porcentajeGastoExtra >= 0 ? "Más" : "Menos" }} que el
                      mes anterior</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white rounded-lg mb-6 xl:mb-0 shadow-lg"
              >
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div
                      class="relative w-full pr-4 max-w-full flex-grow flex-1"
                    >
                      <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                        Objetivo
                      </h5>
                      <span class="font-bold text-xl"
                        >{{ usuario?.Objetivo_Gasto }}€</span
                      >
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-orange-500"
                      >
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  <p class="text-sm text-blueGray-500 mt-4">
                    <span
                      class="text-{{
                        porcentajeObjetivo > 100 ? 'red' : 'emerald'
                      }}-500 mr-2"
                      ><i
                        class="fas fa-arrow-{{
                          porcentajeObjetivo > 100 ? 'up' : 'down'
                        }}"
                      ></i>
                      {{ porcentajeObjetivo }}%</span
                    ><span class="whitespace-nowrap">{{
                      porcentajeObjetivo > 100
                        ? "Te has pasado de tu obejetivo"
                        : "Todavía no te has pasado"
                    }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white rounded-lg mb-6 xl:mb-0 shadow-lg"
              >
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div
                      class="relative w-full pr-4 max-w-full flex-grow flex-1"
                    >
                      <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                        SALES
                      </h5>
                      <span class="font-bold text-xl">924</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-pink-500"
                      >
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="text-sm text-blueGray-500 mt-4">
                    <span class="text-orange-500 mr-2"
                      ><i class="fas fa-arrow-down"></i> 1.10%</span
                    ><span class="whitespace-nowrap">Since yesterday</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white rounded-lg mb-6 xl:mb-0 shadow-lg"
              >
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div
                      class="relative w-full pr-4 max-w-full flex-grow flex-1"
                    >
                      <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                        PORCENTAJE
                      </h5>
                      <span class="font-bold text-xl"
                        >{{ porcentajeObjetivo }}%</span
                      >
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-blue-500"
                      >
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="text-sm text-blueGray-500 mt-4">
                    <span
                      class="text-{{
                        porcentajeObjetivo > 100 ? 'red' : 'emerald'
                      }}-500 mr-2"
                      ><i
                        class="fas fa-arrow-{{
                          porcentajeObjetivo > 100 ? 'up' : 'down'
                        }}"
                      ></i>
                      {{ porcentajeObjetivo }}%</span
                    ><span class="whitespace-nowrap">{{
                      porcentajeObjetivo > 100
                        ? "Te has pasado de tu obejetivo"
                        : "Todavía no te has pasado"
                    }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 md:px-6 mx-auto w-full -mt-24">
      <div class="flex flex-wrap">
        <div class="w-full xl:w-8/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg bg-gray-900"
          >
            <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
              <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                  <h6 class="uppercase mb-1 text-xs font-semibold text-white">
                    Gráficas
                  </h6>
                  <h2 class="text-xl font-semibold text-white">
                    Gasto por mes
                  </h2>
                </div>
              </div>
            </div>
            <div class="p-4 flex-auto">
              <div class="relative h-350-px">
                <app-grafica-barras></app-grafica-barras>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full xl:w-4/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg bg-white"
          >
            <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
              <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                  <h6
                    class="uppercase mb-1 text-xs font-semibold text-blueGray-500"
                  >
                    Gastos
                  </h6>
                  <h2 class="text-xl font-semibold text-blueGray-800">
                    Gasto Categorizado
                  </h2>
                </div>
              </div>
            </div>
            <div class="p-4 flex-auto">
              <div class="relative h-350-px">
                <app-grafica-donut></app-grafica-donut>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg bg-white text-blueGray-700"
          >
            <div class="px-6 py-4 border-0">
              <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                  <h3 class="font-bold text-lg text-blueGray-700">
                    Últimos Gastos
                  </h3>
                </div>
              </div>
            </div>
            <div class="block w-full overflow-x-auto">
              <table class="items-center w-full bg-transparent border-collapse">
                <thead>
                  <tr>
                    <th
                      class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200"
                    >
                      Nombre
                    </th>
                    <th
                      class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200"
                    >
                      Fecha
                    </th>
                    <th
                      class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200"
                    >
                      Categoría
                    </th>
                    <th
                      class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-200"
                    >
                      Precio
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let gasto of gastos">
                    <td
                      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                    >
                      {{ gasto.Descripcion }}
                    </td>
                    <td
                      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                    >
                      {{ gasto.Fecha }}
                    </td>
                    <td
                      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                    >
                      {{ obtenerNombreCategoria(gasto.ID_Categoria) }}
                    </td>
                    <td
                      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                    >
                      {{ gasto.Cantidad }}€
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <footer class="block py-4">
        <div class="container mx-auto px-4">
          <hr class="mb-4 border-b-1 border-blueGray-200" />
          <div
            class="flex flex-wrap items-center md:justify-between justify-center"
          >
            <div class="w-full md:w-4/12 px-4">
              <div class="text-center mb-2 md:text-left md:mb-0">
                <a
                  href="https://www.creative-tim.com/?ref=npr-footeradmin"
                  target="_blank"
                  class="text-sm text-blueGray-500 font-semibold py-1 text-center md:text-left"
                  >Copyright © 2024 Jorge y Juan</a
                >
              </div>
            </div>
            <div class="w-full md:w-8/12 px-4">
              <ul
                class="flex flex-wrap list-none md:justify-end justify-center"
              >
                <li>
                  <a
                    href="https://www.creative-tim.com?ref=npr-footeradmin"
                    target="_blank"
                    class="text-blueGray-700 hover:text-blueGray-900 text-sm font-semibold block py-1 px-3"
                    >Expenses Tracker</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.creative-tim.com/presentation?ref=npr-footeradmin"
                    target="_blank"
                    class="text-blueGray-700 hover:text-blueGray-900 text-sm font-semibold block py-1 px-3"
                    >Sobre nosotros</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.creative-tim.com/blog/?ref=npr-footeradmin"
                    target="_blank"
                    class="text-blueGray-700 hover:text-blueGray-900 text-sm font-semibold block py-1 px-3"
                    >Blog</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.creative-tim.com/license?ref=npr-footeradmin"
                    target="_blank"
                    class="text-blueGray-700 hover:text-blueGray-900 text-sm font-semibold block py-1 px-3"
                    >Licencia</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
